<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Written Digit Recognizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="nav" style="font-size:larger;font-weight:bolder;text-decoration: none;"> <span> <a href="/index">Home</a></span> <span> <a href="/web">Recognizer</a></span></nav>
    <p style="margin:50px 200px;font-size: medium;font-weight: 300;font-family: Verdana, Geneva, Tahoma, sans-serif;">
        The Handwritten digit Recognition system is a technology that is of great use to all of us. The novel method we have proposed will detect handwritten digits ranging between 0-9 from the MNIST dataset. By using convolutional neural networks which  is integrated with the web application using flask, we are able to recognise handwritten digits with high accuracy.
This efficient method can be used for a variety of purposes that can be tedious when done manually by humans. Some of the applications include recognising digits from bank cheques, old documents, images etc. This system can scan the numbers and document them for easy access. This can be used in banks or offices that require physical data to be stored digitally.
    </p>
</body>
</html>